@page
@model BookStoreApp.Pages.AddToCartModel
@{
}

<!--Simple header-->
<h2>Your cart</h2>

<!--Table of cart items-->
<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Book.Price.ToString("c")</td>
                <td>@((i.Quantity * i.Book.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>

    <tfoot class="table-success table-group-divider">
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<!--Return to home page to continue shopping-->
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>